
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Navigation</label>
					</li>
					<li class="nav-item">
					    <a href="/" class="nav-link {% if 'index' in segment %} active {% endif %}">
                            <span class="pcoded-micon">
                                <i class="feather icon-home"></i></span><span class="pcoded-mtext">
									Dashboard</span></a>
					</li>
					<li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layout"></i></span><span class="pcoded-mtext">Page layouts</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="/layout-vertical.html" target="_blank">Vertical</a></li>
					        <li><a href="/layout-horizontal.html" target="_blank">Horizontal</a></li>
					    </ul>
					</li>
					
					<li><a href="{% url 'blog:posts' %}">Posts</a></li>
					<li><a href="{% url 'blog:featured-posts' %}">Featured Posts</a></li>
					<li><a href="{% url 'blog:authors' %}">Authors</a></li>
					<li><a href="{% url 'citizens' %}">Citizen</a></li>
					<li><a href="{% url 'villages' %}">Villages</a></li>
					

					

				</ul>
				
				
				
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
